@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
* {
    margin: 0;
    padding: 0;
}


/*.hamburger e um menu interativo*/

.hamburguer {
    /*background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    /*posição na frente da imagem do menu*/
    z-index: 100;
    /*posição da imagem direita ou esquerda do menu*/
    right: 2rem;
    /*posição p alto e baixo da imagem do menu*/
    top: 2rem;
    /*linhas do menu*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*o curso do mouse no menu*/
    cursor: pointer;
}


/*as line do menu */

.line {
    /*tamanho da line do menu*/
    width: 100%;
    height: .1rem;
    /*cor das linhas do menu*/
    background-color: #fff;
    /*sombra das linhas do menu*/
    box-shadow: 0.1rem 0.1rem 1px#000;
}


/*as header*/

header {
    width: 100%;
    /*altura da imagem*/
    height: 100vh;
    /*tirar a barra de rolagem*/
    overflow: hidden;
    /*posição do banner*/
    position: relative;
}


/*fomatação da imagem atura e largura*/

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*suavizar a cor da imagem da paste de traz do site*/
    background-color: rgb(0, 0, 0, 0.8);
}


/*fomatação da imagem atura e largura*/

.img-wrapper img {
    width: 100%;
    height: 100%;
    /*redimenciona a imagem*/
    object-fit: cover;
    /*opacidade da imagem da paste de traz do site*/
    opacity: 0.5;
    /*ativando animação do @keyframes da imagem de fundo*zoom*duração*/
    animation: zoom 25s;
}


/*animação da imagem de fundo*/

@keyframes zoom {
    /*animação de 0% a 100%*/
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


/*os banner*/

.banner {
    /*posição do banner*/
    position: absolute;
    /*distancia da altura top*/
    top: 30%;
    /*distacia do lado esquerdo left*/
    left: 15%;
    /*posição do botão*/
}

.banner h1 {
    /*cor h1*/
    color: #ffffff;
    /*tamanho da fonte h1*/
    font-size: 3.5rem;
    /*fonte baixada*/
    font-family: "Baloo Da 2", serif;
    /*diminuir o peso da fonte*/
    font-weight: 200;
    /*sobra do texto da fonte*/
    text-shadow: .3rem .4rem 2px rgb(0, 0, 0, .4);
    /*espaçamento entre as lihas do texto banner h1*/
    line-height: 3.5rem;
    /*espaçamento entre h1 e p*/
    margin-bottom: 2rem;
    /*faz sumir animação do @keyframe no inicio */
    opacity: 0;
    /*ativando animação do @keyframe do texto sobre a imagem de fundo*
    moveBanner*duração*/
    animation: moveBanner 1s 0.5s forwards;
}


/*cor, fonte, tamanho e sombreamento do banner p*/

.banner p {
    font-family: "Josefi Slab", serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgb(0, 0, 0, .4);
    /*espaçamento entre p botão*/
    margin-bottom: 2rem;
    /*faz sumir animação do @keyframe no inicio */
    opacity: 0;
    /*ativando animação do @keyframe do texto sobre a imagem de fundo*
moveBanner*duração*/
    animation: moveBanner 1s 0.7s forwards;
    ;
}


/*estilo do botão
/*fonte, cor e tamanho
backgroud que e um gradiente e inportado do site unigradients*/

.banner button {
    font-family: "Muli", serif;
    color: #fff;
    font-size: 1.2rem;
    text-transform: unset;
    /*espaçamento entre as letras do botão*/
    letter-spacing: .1rem;
    /*linea gradiente*/
    background: #7F00FF;
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E100FF, #7F00FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*altura e largura do botão*/
    padding: 1rem 3rem;
    /*tirar a borda do botão*/
    border: none;
    /*redondamendo da borda do botão*/
    border-radius: 5px;
    /*cursor do mouse no botão*/
    cursor: pointer;
    /*faz sumir animação do @keyframe no inicio */
    opacity: 0;
    /*ativando animação do @keyframe do texto sobre a imagem de fundo*
moveBanner*duração*/
    animation: moveBanner 1s 0.9s forwards;
}


/*animação passar o mouser sobre o botão
opacidade, cor da fonte*
            
.banner button:hover {
    opacity: 0.8;
    color: #000
}*/


/*animação do texto sobre a imagem de fundo*/

@keyframes moveBanner {
    /*descer subir transleteY* rotação rotate*/
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}